*{
    box-sizing: border-box;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    text-align: center;
}

img{
    width: 35vw;
    margin: 3px;
}

canvas{
    display: block;
    margin: auto;
    background-color: white;
    width: 85vw;
    height: 30vh;


}

.canvas-container{
    background-color: brown;
    width: 90vw;
    height: 60vh;
}