*{
    box-sizing: border-box;
}

.nav-container ul{
    display: none;
}

.grid-container{
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(auto-fit, minmax(170px, 2fr));
    text-align: center;
}

.grid-container img{
    width: 35vw;
    margin: 3px;
}

.grid-container img:hover{
    cursor: zoom-in;
}

.logo {
    width: 35vw;
    margin: 3px;
}
.canvas-container{
    display: none;
    background-color: brown;
    width: 90vw;
    height: 80vh;
    
}

canvas{
    display: block;
    margin: auto;
    background-color: white;
    width: 85vw;
    height: 50vh;
    margin-bottom: 1em;


}


.controller-box{
    text-align: center;
    
}

.controller {
    margin: 0.2em;
}

.controller button{
    border-radius: 15px;
}

@media (min-width: 500px){
    body{
        background-color: yellow;
    }
    .grid-container{
        width: 100vw;
        height: 90vh;

    }
    .grid-container img{
        margin: 10px;
        width: 20vw;
    }
    .header {
        display: flex;
    }
    .hamburger-symbol {
        display: none;
    }
    .logo-container{
        justify-self: flex-start;
    }
    .nav-container {
        justify-self: flex-end;
    }
    .nav-container ul{
        display: inline-block;
        list-style: none;
    }
}


/* currently working on mobile - up to 500px. media query above that to support other platforms */