*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(172,203,37,1) 31%, rgba(0,212,255,1) 100%);
}

.nav-container ul{
    display: none;
}
.header {
    display: flex;
}
.nav-container li,span,.logo:hover{
    cursor: pointer;
}
.logo {
    width: 100px;
    margin: 3px;
}

.grid-container{
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(2, minmax(180px, 2fr));
    text-align: center;
    
}

.grid-container img{
    width: 30vw;
    margin: 3px;
    border-radius: 15px;
}

.grid-container img:hover{
    cursor: zoom-in;
}

.canvas-container{
    display: none;
    flex-direction: column;
    width: 90vw;
    margin: auto;
}

.add-flex{
    display: flex;
}

canvas{
    display: block;
    margin: auto;
    width: 70vw;    
    margin-bottom: 1em;

}

.controller-box{
    display: grid;
    min-width: 21.875rem;
    min-height: 18rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: auto;
    
    grid-template-areas: 
    ". controller-item1 controller-item1 controller-item1 ."

    "controller-item2 controller-item3 controller-item4 controller-item5 controller-item6"

    "controller-item7 controller-item8 controller-item9 controller-item10 controller-item11"

    ". controller-item12 controller-item13 controller-item14 ."

    "controller-item15 . . . controller-item16";

}

.controller-item1{
    grid-area: controller-item1;
}
.controller-item2{
    grid-area: controller-item2;
}
.controller-item3{
    grid-area: controller-item3;
}
.controller-item4{
    grid-area: controller-item4;
}
.controller-item5{
    grid-area: controller-item5;
}
.controller-item6{
    grid-area: controller-item6;
}
.controller-item7{
    grid-area: controller-item7;
}
.controller-item8{
    grid-area: controller-item8;
}
.controller-item9{
    grid-area: controller-item9;
}
.controller-item10{
    grid-area: controller-item10;
}
.controller-item11{
    grid-area: controller-item11;
}
.controller-item12{
    grid-area: controller-item12;
}
.controller-item13{
    grid-area: controller-item13;
}
.controller-item14{
    grid-area: controller-item14;
}
.controller-item15{
    grid-area: controller-item15;
}
.controller-item16{
    grid-area: controller-item16;
}


.controller-box div{
    margin: auto;
}

.controller {
    border-radius: 15px;
}

.controller img{
    border-radius: 12px;
}

.controller-box a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

.share-to-fb-btn {
    background: #4267b2;
    border: 1px solid #4267b2;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 5px;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    margin: 3px;
  }

  .share-to-whatsapp-btn {
    background: rgb(31, 158, 19);
    border: 1px solid #4267b2;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 5px;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    margin: 3px;
  }

.fill-and-stroke-div{
    position:relative; 
    display:inline-block
}

.fill-and-stroke-input{
    opacity:0;
     position:absolute;
      left:0;
      top:0;
      width:100%;
}

.gallery-page label:hover{
    cursor: pointer;
}

/*  */
/* MEDIA QUERY TO TABLET */
/*  */
@media (min-width: 585px){

.canvas-container{
    width: 100%;
    height: 100vh;
    flex-direction: row;
     justify-content: center;

    gap: 1em;  
}
.canvas-div{
    margin: auto;

}
canvas {
    width: 255px;
    height: 300px;
}

.controller-box{
    min-width: 18rem;
}

.grid-container img{
    width: 22vw;
    margin: 3px;
    border-radius: 15px;
}

.grid-container{
    /* width: 100vw; */
    height: 85vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (auto-fill);
    column-gap: 4%;
}
}


@media (min-width:780px)
{
    .logo-container{
        justify-self: flex-start;
    }
    .logo {
        width: 15vw;
        margin: 3px;
    }
    .hamburger-symbol {
        display: none;
    }
    .nav-container ul{
        display: flex;
        list-style: none;
    }
    
    .grid-container{
        width: 95vw;
        height: 85vh;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        column-gap: 4%;
    }
    .grid-container img{
        margin: 10px;
        width: 80%;
    }

    .search-image-bar{
        float: right;
        }
    .canvas-container{
        flex-direction: row;
        width: 60%;
        justify-content: center;
        gap: 1em;

    }
    .controller-box{
        min-width: none;
        max-width: 24rem;
        align-self: center;
        justify-self: center;
    }
    .canvas-div{
        margin: auto;
    }
    canvas {
        width: 380px;
        height: 380px;
    }
}
